.App {
  font-family: 'Teko', sans-serif;
}

nav {
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 10vh;
 background: lightblue;
 
}
.nav-links{
display: flex;
width: 50%;
justify-content: space-around;
align-items: center;
list-style: none;
}
.contaier-playbook{
text-align: center;

justify-content: space-around;
box-sizing: border-box;
}

